# > Microsoft
host, assets1.xboxlive.com, PROXY🔁
host, assets2.xboxlive.com, PROXY🔁
host, az416426.vo.msecnd.net, PROXY🔁
host, az668014.vo.msecnd.net, PROXY🔁
host-suffix, bing.com, PROXY🔁
host-suffix, bing.net, PROXY🔁
host-suffix, bingapis.com, PROXY🔁
host-suffix, linkedin.com, PROXY🔁
host-suffix, licdn.com, PROXY🔁
host-suffix, msn.com, PROXY🔁
host-suffix, skype.com, PROXY🔁
host-suffix, aka.ms, PROXY🔁
host-suffix, streaming.mediaservices.windows.net, PROXY🔁
host-suffix, microsoft.com, PROXY🔁
host-suffix, office.com, PROXY🔁
host-suffix, office.net, PROXY🔁
host-suffix, office365.com, PROXY🔁
host-suffix, outlook.com, PROXY🔁
host-suffix, live.com, PROXY🔁
host-suffix, appcenter.ms, PROXY🔁
host-suffix, msauth.net, PROXY🔁
host-suffix, microsoftonline.com, PROXY🔁
host-suffix, microsoftapp.net, PROXY🔁
host-suffix, microsoft-falcon.io, PROXY🔁
host-suffix, microsofttranslator.com, PROXY🔁
host-suffix, api.cortana.ai, PROXY🔁




# > GitHub
host-suffix, github.blog, DIRECT
host-suffix, github.com, DIRECT
host-suffix, github.io, DIRECT
host-suffix, githubapp.com, DIRECT
host-suffix, rawgithub.com, DIRECT
host-suffix, githubassets.com, DIRECT
host-suffix, githubusercontent.com, DIRECT
host-keyword, github, DIRECT

# > Gitlab
host-suffix, gitlab.io, DIRECT
host-suffix, gitlab.com, DIRECT
host-suffix, gitlab.net, DIRECT

# > Cloudflare
host-suffix, warp.plus, AMAZON🛍
host-suffix, cloudflare.com, AMAZON🛍
host-suffix, cloudflare.net, AMAZON🛍
host-suffix, cloudflareclient.com, AMAZON🛍

# > Signal
host-suffix, signal.org, AMAZON🛍
host-suffix, hcaptcha.com, AMAZON🛍
host-suffix, signalcaptchas.org, AMAZON🛍

# > Tutanota
host-suffix, tuta.com, DIRECT
host-suffix, tutanota.com, DIRECT

# > Proton
host-suffix, pm.me, PROXY🔁
host-suffix, protonmail.com, PROXY🔁
host-suffix, proton.me, PROXY🔁

# > Deepl
host-suffix, deepl.com, DIRECT

# > Papago
host-suffix, naver.com, PROXY🔁
host-suffix, naver.net, PROXY🔁

# > Mail
host, s.uicdn.com, DIRECT
host, cdn.cookielaw.org, DIRECT
host-suffix, mail.com, DIRECT
host-suffix, ui-portal.de, DIRECT

# > Yahoo
host-suffix, oath.com, DIRECT
host-suffix, yahoo.com, DIRECT

# > DuckDuckGo
host-suffix, duckduckgo.com, PROXY🔁

# > 代理工具
host-keyword, nsloon, DIRECT
host-keyword, quantumult, PROXY🔁

# > 其他
HOST-KEYWORD, mail, DIRECT